@{
    ViewBag.Title = "BaoLoiTrang";
    Layout = "~/Views/Layout/_LayoutNguoiDung.cshtml";
}

<div class="limiter" style="margin-top: 4%;">
    <div class="container-login100" style="background-image: url('https://1.bp.blogspot.com/-cr0bAHr5IYc/VyIXSsZUycI/AAAAAAAAH9k/nTU427gW8KsjYcrONOim6PIUHlUgB36mgCLcB/s1600/loi-404-cach-khac-phuc-loi-404-cho-website.png'); ">
    </div>
</div>


